# Copy file ini menjadi .env lalu isi credential milikmu.
# Jangan commit file .env berisi credential asli.

MODEL_DEVICE=cuda
CLIP_MODEL_NAME=openai/clip-vit-base-patch32

SERPAPI_KEY=bde3a6a4f4c903e219a7107eed5943595c2a31dd72b2e0c67900302a91d54044

CLOUDINARY_CLOUD_NAME=daz3btopf
CLOUDINARY_API_KEY=696374738892441
CLOUDINARY_API_SECRET=B8JtgyGy_Rk1pJ1b_6P4TgGvFG8
CLOUDINARY_FOLDER=copyright-registrations
